@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body{
  background-color: grey;
}

nav{
  background-color: rgba(73, 69, 69, .5);
}

.hotelList{
  background-color: rgba(73, 69, 69, .5);
  color: white;
}

.hotelList>li>a{
  color: #800020;
  font-weight: bold;
}

.cursive{
font-family: 'Dancing Script', cursive;
}

.berkshire{
  font-family: 'Berkshire Swash';
}

.kaushan{
  font-family: 'Kaushan Script';
}

nav>div>ul>li>a{
  color: whitesmoke;
}

.header{
  background-image: url(./images/waterfall.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 33vh;
  font-size: 2.5em;
}

.storyControl{
  max-width: 800px;
}
