@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body{
  background-color: rgb(105, 100, 100);
}

.headerImage{
  width: 40%;
}

.headerTitle{
  font-family: Arial, Helvetica, sans-serif;
  color: #4d0013;
}

.hotelList{
  background-color: rgba(73, 69, 69, .5);
  color: white;
}

.hotelList>li>a{
  color: #800020;
  font-weight: bold;
}

.cursive{
font-family: 'Dancing Script', cursive;
}

.berkshire{
  font-family: 'Berkshire Swash';
}

.kaushan{
  font-family: 'Kaushan Script';
}

.lobster{
  font-family: "Lobster";
}

.fredoka{
  font-family: "Fredoka One";
}

nav>div>ul>li>a{
  color: whitesmoke;
}

nav>div>ul>li>a:hover{
  color: #800020;
}

div>a{
  color: whitesmoke;
}

.header{
  font-size: 2.5em;
  position: relative;
}

.storyControl{
  max-width: 500px;
  font-size: 1.5rem;
}

.venmo{
  width: 300px
}

.registryButton{
  width: 200px;
  height: 100px;
  background-color: rosybrown;
  border: 1px solid black;
  transition: 1.5s;
  transform: scale(1, 1);
}

.registryButton:hover{
  background-color: #800020;
  transition: 1.5s;
  transform: scale(1.1, 1.1);
}

a>img{
  transition: 1.5s;
  transform: scale(1, 1);
}

a>img:hover{
  transition: 1.5s;
  transform: scale(1.1, 1.1);
}

.rsvpButton{
  border: black 1px solid;
  border-radius: 10%;
  background-color: #800020;
  color: rgb(255, 255, 255);
  transition: 1.5s;
  transform: scale(1, 1);
}

.rsvpButton:hover{
  transition: 1.5s;
  transform: scale(1.1, 1.1);
  background-color: rosybrown;
  color: #4d0013;
}

.rsvpModal{
  width: 100%;
  position: fixed;
  background-color: rosybrown;
}

.clearText{
  font-family: Arial, Helvetica, sans-serif;
}

i:hover{
  cursor: pointer;
}

.rsvpForm{
  width: 100%;
  background: linear-gradient(45deg, rgba(188,143,128,1) 0%, rgba(133,124,121,1) 47%, rgba(188,143,128,1) 100%);
}

.hidden{
  display: none;
}

.navBar{
  font-size: 30px;
}
  .homeDateAddressContainer{
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
    }
  .homeDate{
    border-right: 1px solid black;
    margin: 10px 0;
    padding: 20px;
    width: 50%;
  }
  .homeLocation{
    margin: 10px 0;
    padding: 20px;
    width: 50%;
  }

  .detailsContainer{
    width: 75%;
  }

  .details{
    font-size: 1.25rem;
    width: 100%;
  }

  .titles{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 25%;
  }

  .qualityInn{
    text-decoration: underline;
  }

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    .header{
      font-size: 1.5em;
      font-weight: bold;
    }
    .navBar{
      font-size: 14px;
  }

  .homeDateAddressContainer{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .homeDate{
    border-right: none;
    border-bottom: 1px solid black;
    margin: 0;
    padding: 20px;
    width: 100%;
  }
  .homeLocation{
    margin: 0;
    padding: 20px;
    width: 100%;
  }
  .headerTitle{
    font-size: 2rem;
  }
  .headerImage{
    width: 60%;
  }

  .detailsContainer{
    width: 100%;
  }

  .details{
    font-size: 1rem;
  }

}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

    .header{
      font-size: 1em;
      font-weight: bold;
    }
    .homeDateAddressContainer{
      flex-direction: column;
    }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  .header{
    font-weight: bold;
  }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  .header{
    font-weight: bold;
  }
}
